@model IEnumerable<Facturacion.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Factura</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Iva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.ClienteId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FacturaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FacturaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FacturaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
